
# -------------------------------------------------------------------
# PROD
# -------------------------------------------------------------------

TRELLO_API_KEY=""
TRELLO_API_TOKEN=""


# -------------------------------------------------------------------
# DEV
# -------------------------------------------------------------------

TRELLO_API_KEY=""
TRELLO_API_TOKEN=""

