# -------------------------------------------------------------------
# DEV
# -------------------------------------------------------------------

SECRET_KEY="4@#kcr7*@o7_&uuc&pj5fm(&v1^&8l1&l0xfcuaaup)afxus=e"

# ___________________________________________________________________

MEDIA_URL="/media/"
MEDIA_ROOT=""

# ___________________________________________________________________

STATIC_ROOT=""
STATIC_URL=""

# ___________________________________________________________________

EMAIL_HOST="localhost"
EMAIL_PORT="1025"
EMAIL_HOST_USERNAME=""
EMAIL_HOST_PASSWORD=""

# ___________________________________________________________________

HOSTED_AT_DOMAIN=""

# ___________________________________________________________________
# DEV TRELLO
# ___________________________________________________________________


TRELLO_API_KEY="f55a210a12cc089c458eb28f2509010a"
TRELLO_API_TOKEN="77d80620c1852e1f4bfa5b26debf1b3ef6ac6fa6061e846284eead83d3ca2330"

# ___________________________________________________________________

PROTOTYPING_BOARD_ID = "5fcf2835a25ed51e433c8924"
PROTOTYPING_BOARD_COMPLETE_LIST_ID = "5fcf2835a25ed51e433c8932"

# ___________________________________________________________________

FREEFLOW_API_URL="https://freeflowapi.barrowsglobal.com"

FURO_API_URL='http://127.0.0.1:8000/'
API_USERNAME=''
API_PASSWORD=''


# -------------------------------------------------------------------
# PROD
# -------------------------------------------------------------------

SECRET_KEY=""

# ___________________________________________________________________

MEDIA_URL=""
MEDIA_ROOT="/home/django/media/"

# ___________________________________________________________________

STATIC_ROOT="/home/django/static/"
STATIC_URL="/static/"

# ___________________________________________________________________

EMAIL_USE_TLS="TRUE"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_HOST_USERNAME="media@barrowsglobal.com"
EMAIL_HOST_PASSWORD=""

# ___________________________________________________________________

HOSTED_AT_DOMAIN="eng.barrows.tech"

# ___________________________________________________________________
# PROD TRELLO
# ___________________________________________________________________

TRELLO_API_KEY="91d8df9bab7e9edec51da80ef3ba7690"
TRELLO_API_TOKEN="3bb08617c631dc4459824593381e5b89bf33a82060cfdadabf76c2214b2ce435"

# ___________________________________________________________________

PROTOTYPING_BOARD_ID = "54ddbf3f063b28831c9e455c"
PROTOTYPING_BOARD_COMPLETE_LIST_ID="5e186bfe82df9079334d4b95"

# ___________________________________________________________________

FREEFLOW_API_URL="https://freeflowapi.barrowsglobal.com"

FURO_API_URL='https://eng.barrows.tech/'
API_USERNAME=''
API_PASSWORD=''
